name: Kotlin CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        name: Set up JDK 25
        with:
          java-version: '25'
          distribution: 'temurin'
          architecture: x64
          cache: gradle

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Run build
        run: ./gradlew build

      - name: Coverage
        uses: codecov/codecov-action@v5
        with:
          files: ./build/reports/jacoco/test/jacocoTestReport.xml
          name: codecov
          token: ${{ secrets.CODECOV_TOKEN }}
